# Laravel specific
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/.phpunit.result.cache
/.phpunit.cache
.env
.env.*
.phpactor.json
Homestead.*
auth.json

# Laravel Mix / Vite
/public/hot
/public/build

# Editor folders
/.idea
/.vscode
/.fleet
/.zed
/.nova

# OS / Log files
npm-debug.log
yarn-error.log

# Mac / Windows system files
.DS_Store
Thumbs.db
